
<div class="jumbotron FBvert mb-3">
    <h1 class="display-3">Your carbon footprint</h1>
</div>
<h2>How often do you use...</h2>
<div class="row bla">
    <div class="FBcontainerIcon"><img src="~/images/metro.jpg" /></div>
    <div class="FBcontainerIcon"><img src="~/images/pieton.jpg" /></div>
    <div class="FBcontainerIcon"><img src="~/images/trottinette.jpg" /></div>
    <div class="FBcontainerIcon"><img src="~/images/velo.jpg" /></div>
    <div class="FBcontainerIcon"><img src="~/images/veloE.png" /></div>
    <div class="FBcontainerIcon"><img src="~/images/voiture.jpg" /></div>
</div>
<fieldset class="form-group">
    <label for="customRange1">public transport</label>
    <input type="range" class="custom-range" id="customRange1">
</fieldset>

<fieldset class="form-group">
    <label for="customRange1">walk</label>
    <input type="range" class="custom-range" id="customRange1">
</fieldset>
  
<fieldset class="form-group">
    <label for="customRange1">scooter</label>
    <input type="range" class="custom-range" id="customRange1">
</fieldset>
  
<fieldset class="form-group">
    <label for="customRange1">bike</label>
    <input type="range" class="custom-range" id="customRange1">
</fieldset>
  
<fieldset class="form-group">
    <label for="customRange1">electrical bike</label>
    <input type="range" class="custom-range" id="customRange1">
</fieldset>
  
<fieldset class="form-group">
    <label for="customRange1">car</label>
    <input type="range" class="custom-range" id="customRange1">
</fieldset>
<a role="button" href="~/Membre/Dashboard/Index" type="button" class="btn btn-primary btn-lg btn-block FBvert">Calculate</a>