
@{
    ViewBag.Title = "Login";
}


<section class="bg-beeTrace">
    <div class="jumbotron FBvert mb-3">
        <h1 class="display-3">Login</h1>
    </div>

    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <input type="submit" class="form-check" name="tryLog" value="Submit" href="Area/Membre/Dashboard"/>
        </div>
    </fieldset>
</section>
