
@{
    ViewBag.Title = "Profil";
}


<div class="jumbotron bg-warning mb-3">
    <h1 class="display-3">Profile</h1>
</div>
<h2>About you</h2>
<fieldset>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
</fieldset>
<h2>Your preferences</h2>
<button type="button" class="btn btn-primary">English</button>
<button type="button" class="btn btn-primary">French</button>
<button type="button" class="btn btn-primary">Dutch</button>
<h2>Your carbon footprint</h2>
<a role="button" href="/Account/Calculator" class="btn btn-primary btn-lg btn-block FBvert">Calculate</a>
