@{ ViewBag.Title = "Map"; }

<h2>Choose Wisely</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80598.70582425196!2d4.3053504787780525!3d50.855062460739255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3a4ed73c76867%3A0xc18b3a66787302a7!2sBruxelles!5e0!3m2!1sfr!2sbe!4v1615466124596!5m2!1sfr!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<div>
    <ul class="cdtransports">
        <li>
            <img src="/images/pieton.jpg" alt="logo" class="img_log" />
            <p>It takes only twelve minutes to go there !</p>
            <a role="button" href="~/Membre/Dashboard/Index" class="btn btn-primary btn-lg btn-block btn-success map-b">Let's Walk</a>
        </li>
        <li>
            <img src="/images/velo.jpg" alt="logo" class="img_log" />
            <p>It takes only twelve minutes to go there !</p>
            <a role="button" href="~/Membre/Dashboard/Index" class="btn btn-primary btn-lg btn-block btn-success disabled map-b">Take the Bike</a>
        </li>
        <li>
            <img src="/images/trottinette.jpg" alt="logo" class="img_log" />
            <p>It takes only twelve minutes to go there !</p>
            <a role="button" href="~/Membre/Dashboard/Index" class="btn btn-primary btn-lg btn-block btn-info map-b">Take the Scooter</a>
        </li>
        <li>
            <img src="~/images/veloE.png" alt="logo" class="img_log" />
            <p>It takes only twelve minutes to go there !</p>
            <a role="button" href="~/Membre/Dashboard/Index" class="btn btn-primary btn-lg btn-block btn-warning map-b">Take the Electric Bike</a>
        </li>
        <li>
            <img src="/images/metro.jpg" alt="logo" class="img_log" />
            <p>It takes only twelve minutes to go there !</p>
            <a role="button" href="~/Membre/Dashboard/Index" class="btn btn-primary btn-lg btn-block btn-danger disabled map-b">Take the Public Transportation</a>
        </li>
        <li>
            <img src="/images/voiture.jpg" alt="logo" class="img_log" />
            <p>It takes only twelve minutes to go there !</p>
            <a role="button" href="~/Membre/Dashboard/Index" class="btn btn-primary btn-lg btn-block btn-danger map-b">In such a Hurry?</a>
        </li>
    </ul>
</div>
