@{ ViewBag.Title = "NewTraject"; }

<div class="jumbotron bg-warning mb-3">
    <h1 class="display-3">New Traject</h1>
</div>
<p class="cdintro-traject">Here you can enter your destination. We'll calculate for you all the differents possibilities to reach your favorite place! Try to choose your path according to your occupations. <span class="letbee">Let's bee Practical</span> </p>
<fieldset class="cdcontainer-flex">
    <div class="cdform-traject">
        <label for="exampleInputEmail1">Departure</label>
        <input type="email" class="cdform-control" id="departure" aria-describedby="emailHelp" placeholder="Where you come from">
    </div>
    <div class="cdform-traject">
        <label for="exampleInputEmail1">Destination</label>
        <input type="email" class="cdform-control" id="destination" aria-describedby="emailHelp" placeholder="Where you go to">
    </div>
</fieldset>
<a role="button" href="/Itinary/Map" class="btn btn-primary btn-lg btn-block FBvert marg">GO!</a>

