@{
    ViewBag.Title = "Home Page";
}

<section class="bg-beeTrace">

    <div class=" jumbotron">
        <h1 class="display-3">BeeEco</h1>
        <div class="btn sg-card-to-start">
            <a href="/Home/Register" class="btn sg-btn-start">Start now</a>
            <p>and change your world ...</p>
        </div>
    </div>
</section>

@*<div class="jumbotron">
    <h1 class="display-3">Hi New Bee !</h1>
    <p class="lead">This is a monitoring carbon footprint app</p>
    
    <hr class="my-4">
    <p>If you want to know more about us, please bee our guest</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Home/About" role="button">Learn more</a>
    </p>
</div>*@




