
@{
    ViewBag.Title = "Register";
}

<section class="bg-beeTrace">
    <div class="jumbotron bg-info mb-2">
        <h2 class="display-3">Register</h2>
    </div>
    <div class="container-test">
        <h2>One of Us ?</h2>
        <a role="button" href="/Account/Login" class="btn btn-warning btn-width">Log In</a>
        <hr />
        <h2>Want to join the Hive !</h2>
        <a role="button" href="/Account/SetProfile" class="btn btn-info btn-width">Sign Up</a>
    </div>
    <img class="flying-bee" src="~/images/Logo-bee.png" alt="flying bee" />
</section>
